keras==2.6.0
Keras-Preprocessing==1.1.2
matplotlib @ file:///C:/ci/matplotlib-suite_1628011511716/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
numpy==1.19.5
pandas @ file:///C:/ci/pandas_1627570330330/work
plotly @ file:///Users/nicolas/miniconda2/conda-bld/plotly_1628902437264/work/packages/python/plotly/dist/plotly-5.2.1.tar.gz
streamlit==1.0.0
tensorflow==2.6.0
